body {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#container {
    margin: 0 auto;
    width: 75%;
    height: 900px;
    border: 12px solid black;

    /* Grid controls the inside of this container. Before adding grid the boxes were only taking up the amount of space that the text had or whatever content is in that div. Adding display grid made the boxes stretch out to the height specified above. Did not work when percentage was used. Has to be pixels.*/
    display: grid;
}

.box {
    font-size: 1.5rem;
}